<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">back</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>date</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, asperiores at atque debitis delectus dicta dolores ducimus eum fugiat harum impedit molestias nesciunt odio, porro quasi reiciendis repellendus sit tempora temporibus ut vel velit voluptatibus? Amet animi architecto atque consequatur et illo incidunt libero, minima nulla placeat, repellat repudiandae, soluta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, asperiores at atque debitis delectus dicta dolores ducimus eum fugiat harum impedit molestias nesciunt odio, porro quasi reiciendis repellendus sit tempora temporibus ut vel velit voluptatibus? Amet animi architecto atque consequatur et illo incidunt libero, minima nulla placeat, repellat repudiandae, soluta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, asperiores at atque debitis delectus dicta dolores ducimus eum fugiat harum impedit molestias nesciunt odio, porro quasi reiciendis repellendus sit tempora temporibus ut vel velit voluptatibus? Amet animi architecto atque consequatur et illo incidunt libero, minima nulla placeat, repellat repudiandae, soluta.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, asperiores at atque debitis delectus dicta dolores ducimus eum fugiat harum impedit molestias nesciunt odio, porro quasi reiciendis repellendus sit tempora temporibus ut vel velit voluptatibus? Amet animi architecto atque consequatur et illo incidunt libero, minima nulla placeat, repellat repudiandae, soluta.</p>
  </div>
</div>
